<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a id="navDesafio" (click)="reloadProcess()"><img src="http://www.acessetecnologia.com.br/img/logo.png" width="100px"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">  
        <li class="nav-item">
          <a class="nav-link active" routerLink="/processos/novo/">Novo Processo</a>
        </li>
      </ul>
      <div class="d-flex marginSearch">
        <input class="form-control me-2" id="search" type="search" placeholder="Insira aqui sua pesquisa" >
        <button class="btn btn-outline-success" (click)="searchProcess()">Buscar</button>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">N° do Processo</th>
            <th scope="col">Nome do solicitante</th>
            <th scope="col">Data do processo</th>
            <th scope="col">Ações</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let process of processo | paginate: { itemsPerPage: 10, currentPage: p };">
            <th scope="row">{{ process.numberProcess }}</th>
            <td>{{ process.name }}</td>
            <td>{{ process.processDate | date: 'dd/MM/yyyy' }}</td>
            <td routerLink="/processos/editar/{{ process.numberProcess }}"><i class="fa fa-pencil text-primary " aria-hidden="true"></i><a > Editar</a></td>
            <td (click)="onDelete(process.numberProcess, process)"><i class="fa fa-trash test" aria-hidden="true"></i><a > Excluir</a></td>
            <td (click)="getPdf(process.numberProcess, process.name)"><i class="fa fa-download text-success" aria-hidden="true"></i> Baixar PDF</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</div>